body {
  font-size: 16px;
  color: black;
  font-family: 'Epilogue', sans-serif;
  height: 100vh;
    border: solid 1px orange;
}

h1 {
  font-size: 8rem;
  transition: 500ms;
  font-family: 'Styro', sans-serif;
  letter-spacing: 2px;
}

h1:hover {
  color: #DE8500;
  transition: 500ms;
  cursor: pointer;
}

h2, h3, h4 {
  font-family: 'Epilogue', sans-serif;
}
