.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  border: #DE8500 solid 3px;

  .nav {
    grid-area: 1 / 1 / 3 / 11;

    border-bottom: 3px solid #DE8500;
    display: flex;
    align-items: center;


    .title {
      margin-left: 2.2%;
      font-size: 3rem;
    }
  }

  .left {
    grid-area: 3 / 1 / 11 / 7;
    border-right: 3px solid #DE8500;
    display: flex;
    justify-content: center;
    align-items: center;

    .carre {
      background-color: #DE8500;
      height: 90%;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding-bottom: 30vh;
    }

    img {
      width: 92%;

    }
  }

  .right {
    grid-area: 3 / 7 / 11 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
      h2 {
        font-size: 7rem;
        padding-bottom: 15%;

      }

      form {
        font-size: 2rem;

        input {
          font-size: 1.3rem;
          width: 25vw;
          height: 3.5vh;
          margin-bottom: 4vh;
          border-top: hidden;
          border-left: hidden;
          border-right: hidden;
          border-bottom: 3px solid #DE8500;
        }

        button {
          width: 14vw;
          height: 50px;
          font-size: 2rem;
          background-color: #DE8500;
          transition: 300ms;

        }

        button:hover {
          background-color: #c27500;
          color: white;
          border: solid #c27500;
          cursor: pointer;
          transition: 300ms;
        }

        p {
          font-size: 1.5rem;
        }

        a:hover {
          border-bottom: solid 3px #DE8500;

        }
      }
    }
  }
}