.container-home {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  border: #DE8500 solid 3px;
  .nav {
    grid-area: 1 / 1 / 2 / 17;
    border-bottom: solid 3px #DE8500;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3vw;

      li {
        transition: 300ms;
        font-size: 5rem;
        font-weight: bold;
      }
      li:last-child:hover {
        color: #DE8500;
        transition: 300ms;
      }
    }

  }

  .title {
    grid-area: 2 / 1 / 4 / 17;
    border-bottom: solid 3px #DE8500;
    font-size: 6rem;
    font-weight: 500;
  }

  .description {
    grid-area: 4 / 1 / 10 / 8;
    border-right: solid 3px #DE8500;
    padding: 3vw 5vh;

    h3 {
      font-size: 2rem;
    }

    ul {
      margin-top: 5vh;

      li {
        list-style-type: initial;
        font-size: 1.5rem;
        padding-top: 2vh;
      }
    }
  }

  .content {
    grid-area: 4 / 8 / 9 / 17;
    border-bottom: solid 3px #DE8500;
    overflow: hidden;
  }

  .gold {
    grid-area: 9 / 8 / 10 / 10;
    border-right: solid 3px #DE8500;
    font-size: 2rem;

  }

  .silver {
    grid-area: 9 / 10 / 10 / 12;
    border-right: solid 3px #DE8500;
    font-size: 2rem;
  }

  .add-to-cart {
    grid-area: 9 / 12 / 10 / 17;
    font-size: 2rem;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    transition: 300ms;

    &:hover {
      background-color: #DE8500;
      color: white;
      transition: 300ms;
    }
  }
}
