.product-list {
  border: #DE8500 solid 3px;
  nav {
    height: 16vh;
    border-bottom: #c27500 3px solid;
    width: 100vw;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3vw;
      height: 16vh;

      li {
        transition: 300ms;
        font-size: 5rem;
        font-weight: bold;
      }
      li:last-child:hover {
        color: #DE8500;
        transition: 300ms;
      }
    }
  }


  .wrapper {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

    .container-product {
      height: 42vh;
      width: 25vw;
      border-bottom: #DE8500 solid 3px;
      border-right: #DE8500 solid 3px;

      img {
        width: 100%;
        height: 32vh;
        object-fit: cover;
        object-position: center;
        border-bottom: solid 3px #c27500;

      }

      .description {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
        transition: 150ms;

        &:hover:after {
          content: 'View more';
          position: absolute;
          visibility: visible;
          color: white;
          font-size: 2.5vw;

        }

        &:hover {
          background: #DE8500;
          color: #DE8500;
          cursor: pointer;
          transition: 150ms;
        }
      }
    }
  }
}